/*
* =============================
* Footer styles
* =============================
*/

footer {
	background: #0f0;
	height: 60px;
	width: 100%;
	position: fixed;
	bottom: 0;
	display: grid;
}
small {
	margin: auto;
}
