/* section - filters
 * inside .container
 */
/* filters */
.filters{
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    line-height: 70px;
}

/* Search button style */
button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    align-items: center;
}

/* Search button opacity on hovering */
button:hover {
    opacity: 90%;
}

/* align button right */
.align_right{
    text-align: right;
    margin-right: 30px;
}
